{% extends "!footer.html" %}
{% block extrafooter %}
  {{ super() }}
  <br>
  <br>
  <p>
    Kurento得到了LERNIM (RTC-2016-4674-7)的项目支持, 由西班牙<em>Ministry of Economy, Finance and Competitiveness</em> ,和 <em>European Regional Development Fund</em>共同资助, 其主要目标是促进技术研发，创新和高质量的研究.
  </p>
  <p align="center">
    <img width="340px" src="{{ pathto('_static/footer-ministerio-economia-400-optimized.png', 1) }}">
    <img width="340px" src="{{ pathto('_static/footer-european-union-400-optimized.png', 1) }}">
  </p>
{% endblock %}
